.git
.github
.vscode
.pytest_cache

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.env/
build/
dist/
*.egg-info/

.env
.env.local
.env.example

logs/
tests/
test_model.py
*.ipynb

Dockerfile
.dockerignore
README.md
