# Environments
.venv/
venv/
env/
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
